
div#topContainer {
  padding: 20px;
  margin: auto;
  width: 60%;
  //background-color: #ffffe6;
}

div.helpInstructions {
  display: flex;
  flex-direction: row-reverse;
}
button.helpButton {
  margin: 5px;
}

//div#firstMover {
//  margin-left: 5px;
//  width: 25%;
//}

.playerToggleButton {
  margin: 10px;
}

