
div#topContainer {
  border: 2px solid blue;
  padding: 20px;
  margin: auto;
  width: 80%;
  //background-color: blanchedalmond;
  background-color: #ffffe6;
}

div.helpInstructions {
  display: flex;
  flex-direction: row-reverse;
}
button.helpButton {
  margin: 5px;
}

div#firstMover {
  margin-left: 5px;
  width: 25%;
}

.playerToggleButton {
  margin: 10px;
}

ul.choiceNumList {
  flex: 1;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;

  padding: 10px;

  list-style-type:none;
  margin-bottom:  0px;

  li.choiceNumItem {
    flex: 1;

    margin: 2px;
    border: 1px solid blue;
    border-radius: 5px;

    padding: 3px;

    text-align: center;
  }

  li.num:nth-child(3n) {
    background: lightcyan;
  }

  li:hover {
    border-style: dashed;
  }
}

