
div.gameBoard{
  padding: 5px;
  //margin: auto;
  margin-left: 5px;
  margin-top: 40px;
  width: 90%;

  display: flex;
  flex-direction: row;
}

button#playAgain {
  background-color: lightgreen;
  font-size: 1.2em;
}
